extends layout

block content
	div
		a(href='/accounts')='Manage Accounts'
		span=' --- '
		a(href='/root')='Root Settings'
	div
		h2 Latest Tweets
		ul(id='tweets')

block footer
	footer
		script(defer, src='/js/io.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script
			window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')
		script(defer, src='/socket.io/socket.io.js')
