extends layout

block content
	div
		h2='Root Properties'
		form(method='post', action='')
			label(for='name') Tweet Interval (Minutes):
			input(type='text', name='tweetInterval', id='tweetInterval', value=properties.tweetInterval)
			br
			input(type='submit',name='submit',value='Save').submit-button